:root{
    --primary-color: #1abaa1;
    --secondary-color: #3fb3a5;
    --font-roboto: 'Roboto', sans-serif;
    --font-ubuntu: 'Ubuntu', sans-serif;
}

html, body{
    margin: 0px;
    background: linear-gradient(180deg, rgba(30,179,156,1) 48%, rgba(20,141,123,1) 100%);
    height: 100%;
}
main{
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center
}

*{
    box-sizing: border-box;
    font-family: var(--font-ubuntu);
    font-size: 18px;
}

.login-input{ /*Div que abarca el formulario*/
    background-color: #fff;
    width: 50%;
    padding: 40px;
    border-radius: 20px;
    max-width: 450px;
    min-width: 320px;
    margin: auto;
    box-shadow: 24px 24px 30px -9px rgba(0,0,0,0.34);
}

.login-user, .login-pass{
    position: relative;
} 

.login-input input::placeholder{
    color: #c0c0c0;
}

.fa-user, .fa-lock{
    color: var(--primary-color);
    position: absolute;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.login-input input{
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    padding-left: 40px;
    margin: 5px 0;
    border: 2px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 95%;
}

.login-input label{
    display: block;
    font-weight: bold;
    margin: 15px 0;
    font-size: 20px;
    color: var(--primary-color);
}

.login-input h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.login-btn{
    display:block;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
    width: 100%;
    max-width: 150px;
}

.warning{
    color: #9e566d;
    text-align: center;
}

footer{
    color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.login-btn:hover{
    background-color: #188877;
}

.registro{
    color: #4b4b4b;
}

.registro a{
    color: var(--primary-color);
}

