:root{
    --primary-color: #1abaa1;
    --secondary-color: #3fb3a5;
    --inactive-color:#8e8e8e;
    --font-roboto: 'Roboto', sans-serif;
    --font-ubuntu: 'Ubuntu', sans-serif;
}

html, body{
    margin: 0px;
    background: linear-gradient(180deg, rgba(30,179,156,1) 40%, rgba(20,141,123,1) 100%);
    height: 100vh;
}
main{
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center
}

*{
    box-sizing: border-box;
    font-family: var(--font-ubuntu);
    font-size: 18px;
}

.form-container{ /*Div que abarca el formulario*/
    background-color: #fff;
    width: 50%;
    padding: 40px;
    border-radius: 20px;
    max-width: 450px;
    min-width: 320px;
    margin: auto;
    box-shadow: 24px 24px 30px -9px rgba(0,0,0,0.34);
}

.form-item{
    position: relative;
    padding-top: 25px;
} 

.form-label{
    color: #c0c0c0;
    position: absolute;
    cursor: pointer;
    top: 41px;
    left: 45px;
    transition: transform .3s, color .3s;
}

.form-input{
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px 20px;
    padding-left: 40px;
    margin: 5px 0;
    border: 2px solid var(--inactive-color);
    display: flex;
    flex-direction: column;
    width: 95%;
    transition: all 0.5s;
}

.form-input:focus ~ .fa-solid{
    color: var(--primary-color);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translate(-30px,-35px) scale(.85);
    transform-origin: left top;
    color: var(--primary-color);  
}

.form-input:focus{
    border:2px solid var(--primary-color);
}

.fa-solid{
    color: var(--inactive-color);
    position: absolute;
    margin-left: 15px;
    margin-top: 14px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.form-container h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.form-btn{
    display:block;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
    width: 100%;
    max-width: 150px;
}

.warning{
    color: #9e566d;
    text-align: center;
}

footer{
    color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.form-btn:hover{
    background-color: #188877;
}

.message p{
    text-align: center;
    color: #4b4b4b;
}

.message a{
    color: var(--primary-color);
}

